@charset "UTF-8";

.Technology--container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(../../assets/assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}