@charset "UTF-8";

.NavBar--container {
    display: flex;
    align-items: center;
    font-family: var(--fontBarlowCondensed);
    text-transform: uppercase;
    width: 100%;
    margin-top: 35px;
    position: fixed;
}

.NavBar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.NavBar--ulBurger {
    display: none;
}

.NavBar--ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 55%;
    height: 100%;
    font-size: 1.2vw;
    backdrop-filter: blur(15px);
    padding: 10px;
    background-color: rgba(51, 53, 64, 0.3);
}

.NavBar--ul::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -60%;
    width: 65%;
    height: 1px;
    background-color: rgba(51, 53, 64, 1);
}

.NavBar--ul ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

a {
    text-decoration: none;
}

.NavBar--ul ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 20px;
}

.NavBar--ul ul li {
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.NavBar--ul ul .active-li li {
    font-weight: bold;
}

.NavBar--ul ul li::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width 0.4s ease;
}

.NavBar--ul ul .active-li li::after {
    background-color: white;
}

.NavBar--ul ul li:hover::after,
.NavBar--ul ul .active-li li::after {
    width: 100%;
}

@media screen and (max-width: 1140px) {

    .NavBar--container {
        margin: 0;
    }

    .NavBar--ul {
        width: 75%;
        font-size: 2vw;
    }

    .NavBar--ul::after {
        display: none;
    }

    .NavBar--ul li::after {
        top: 200%;
    }
}

@media screen and (max-width: 750px) {

    .NavBar--container {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: space-around;
        z-index: 2;
    }

    .NavBar--logo {
        width: 40%;
        justify-content: flex-start;
    }

    .NavBar--ul {
        display: none;
    }

    .NavBar--ulBurger {
        display: flex;
        width: 40%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    
    .NavBar--ulBurger img {
        display: flex;
        width: 6vw;
        z-index: 2;
        cursor: pointer;
    }

    .NavBar--ulBurger ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        align-items: center;
        width: 55vw;
        height: 100vh;
        backdrop-filter: blur(15px);
        background-color: rgba(51, 53, 64, 0.3);
        animation: fadeinleftNavBar 1s;
    }

    .NavBar--ulBurger ul div {
        width: 100%;
        height: 80%;
    }

    .NavBar--ulBurger li {
        list-style-type: none;
        font-size: 4vw;
        margin: 35px;
        color: var(--white);
        cursor: pointer;
    }

    .NavBar--ulBurger li span {
        font-weight: bolder;
        margin-right: 5px;
    }
}
