@charset "UTF-8";

.NavBar--container {
    display: flex;
    align-items: center;
    font-family: var(--fontBarlowCondensed);
    text-transform: uppercase;
    width: 100%;
    margin-top: 35px;
    position: fixed;
}

.NavBar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.NavBar--ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 55%;
    height: 100%;
    font-size: 1.2vw;
    backdrop-filter: blur(15px);
    background-color: rgba(51, 53, 64, 0.3);
}

.NavBar--ul::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -60%;
    width: 65%;
    height: 1px;
    background-color: rgba(51, 53, 64, 1);
}

.NavBar--ul ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.NavBar--ul li {
    margin: 35px;
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.NavBar--ul li::after {
    position: absolute;
    content: '';
    top: 250%;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width .5s;
} 

.NavBar--ul li:hover::after {
    width: 100%;
}

.NavBar--ul li span {
    font-weight: bold;
    margin-right: 5px;
}

@media screen and (max-width: 1140px) {

    .NavBar--container {
        margin: 0;
    }

    .NavBar--ul {
        width: 70%;
        font-size: 2vw;
    }

    .NavBar--ul::after {
        display: none;
    }

    .NavBar--ul li::after {
        top: 200%;
    }
}
