@charset "UTF-8";

.NavBar--container {
    display: flex;
    align-items: center;
    font-family: var(--fontBarlowCondensed);
    text-transform: uppercase;
    width: 100%;
    margin-top: 35px;
    position: fixed;
}

.NavBar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.NavBar--ulBurger {
    display: none;
}

.NavBar--ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 55%;
    height: 100%;
    font-size: 1.2vw;
    backdrop-filter: blur(15px);
    background-color: rgba(51, 53, 64, 0.3);
}

.NavBar--ul::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -60%;
    width: 65%;
    height: 1px;
    background-color: rgba(51, 53, 64, 1);
}

.NavBar--ul ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.NavBar--ul li {
    margin: 35px;
    color: var(--white);
    cursor: pointer;
    position: relative;
}

.NavBar--ul li::after {
    position: absolute;
    content: '';
    top: 250%;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width .5s;
} 

.NavBar--ul li:hover::after {
    width: 100%;
}

.NavBar--ul li span {
    font-weight: bold;
    margin-right: 5px;
}

@media screen and (max-width: 1140px) {

    .NavBar--container {
        margin: 0;
    }

    .NavBar--ul {
        width: 75%;
        font-size: 2vw;
    }

    .NavBar--ul::after {
        display: none;
    }

    .NavBar--ul li::after {
        top: 200%;
    }
}

@media screen and (max-width: 750px) {

    .NavBar--container {
        display: flex;
        width: 100%;
        height: 10%;
        background-color: red;
        justify-content: space-around;
        z-index: 2;
    }

    .NavBar--logo {
        width: 40%;
        justify-content: flex-start;
    }

    .NavBar--ul {
        display: none;
    }

    .NavBar--ulBurger {
        display: flex;
        width: 40%;
        justify-content: flex-end;
        position: relative;
    }
    
    .NavBar--ulBurger img {
        display: flex;
        z-index: 2;
        cursor: pointer;
    }

    .NavBar--ulBurger ul {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 50vw;
        height: 100vh;
        backdrop-filter: blur(15px);
        background-color: rgba(51, 53, 64, 0.3);
        animation: fadeinleftNavBar 1s ease forwards;
    }

    .NavBar--ulBurger li {
        list-style-type: none;
        font-size: 3.5vw;
        margin: 35px;
        color: var(--white);
        cursor: pointer;
    }

    .NavBar--ulBurger li span {
        font-weight: bold;
        margin-right: 5px;
    }
}
